p{
    margin-bottom: 0px;
}
.header_title{
    margin: 100px 0 30px 0;
    color: #007bff;
}
.error-text{
    color: red;
    text-align: center; 
}
.line-through{
    text-decoration: line-through;
}
.form-check-input {
    margin-right: 10px;
}
.card{
    margin-bottom: 15px;
}